.outerJoinRight {
    width: 50%;
    height: 100%;
    float: left;
    display: grid;
    align-items: center;
}
@media only screen and (max-width: 715px){
    .outerJoinRight {
        width: 100%;
        height: 100%;
        order: -1;
    }
}